{% extends "::base.html.twig" %}

{% block title %}AppBundle:Project:new-project{% endblock %}

{% block body %}
    <h1>Welcome to the Project:new-project page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

 {% endblock %}